.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.heading_1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.ellipse {
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.box_3 {
}
.image {
}
.primary_button {
  color:#FFFFFF;
}
.box_1 {
}
.box_2 {
}
.placeholder {
}
.flow_shape {
}
.icon {
}
.button {
}
.link_button {
  color:#169BD5;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.flow_shape1 {
}
.checkbox {
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.input_field {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2D373E;
  text-align:left;
}
.label1 {
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
.border_grey {
}
.button1 {
}
.calendar {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2D373E;
  text-align:center;
}
.calender_mouseover {
}
.calendar_selected {
  color:#FFFFFF;
}
.solid_white {
}
textarea, select, input, button { outline: none; }
